<p-dataview #dv [value]="tickers" [emptyMessage]="emptyMessage">
    <ng-template #list let-items>
        <div *ngFor="let item of items; let first = first" class="flex flex-row gap-2 search-result-item"
            [ngClass]="{ 'border': !first }">
            <div class="flex flex-col flex-grow-1">
                <div>{{ item.ticker }}</div>
                <div>{{ item.name}}</div>
            </div>
            <div class="flex flex-col flex-justify-content-center">
                <p-button icon="pi pi-star" [rounded]="true" severity="help" [outlined]="true" />
            </div>
        </div>
    </ng-template>
</p-dataview>