@import "primeicons/primeicons.css";

/* You can add global styles to this file, and also import other style files */
.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-shrink-0 {
    flex-shrink: 0;
}

.flex-shrink-1 {
    flex-shrink: 1;
}

.flex-justify-content-center {
    justify-content: center;
}

.flex-align-items-end {
    align-items: flex-end;
}

.gap-2 {
    gap: .5rem;
}

.border {
    margin-top: 5px;
    border-top: 1px solid rgb(233, 233, 233);
    padding-top: 5px;
}