@import "primeicons/primeicons.css";

/* You can add global styles to this file, and also import other style files */
.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-shrink-1 {
    flex-shrink: 1;
}

.flex-justify-content-center {
    justify-content: center;
}

.gap-2 {
    gap: .5rem;
}

.border {
    border-top: 1px solid rgb(168, 168, 168);
}