<section>
    <h3>Search</h3>
    <form class="flex flex-col gap-2" (ngSubmit)="onSubmit()" #searchForm="ngForm">
        <div class="flex flex-row gap-2">
            <input pInputText id="search" name="search" aria-describedby="search-help" [(ngModel)]="searchParams.search"
                placeholder="Search" required />
            <p-button type="submit" [disabled]="!searchForm.form.valid">Search</p-button>
        </div>
        <small id="search-help">Enter a stock ticker or part of a company name to search.</small>
    </form>
</section>